// Доп классы для страниц ====================================================================================================

.sale {
  height: 50px;
  background: #FFB400;
}

.sale__descp {}

// Общий класс главной обертки
.page-recurring {
  padding-bottom: 150px;
}

// Общий класс для страниц
.recurring {
  padding-top: 27px;
}

.recurring h1,
.recurring h2 {
  margin-bottom: 28px;
}

//=============================================================================================================================